@media screen and (max-width: 768px) {
  .bg-cover {
    background-size: cover;
  }

   

  .ml-16 {
    margin-left: 10%; /* Adjust margin as needed */
  }

  /* Add more styles for other elements as needed */
}

@media screen and (max-width: 640px) {
  /* Adjust styles for elements */
  .bg-cover {
    background-size: cover;
  }

  

  .ml-16 {
    margin-left: 5%; /* Adjust margin as needed */
  }
}
