.swiper-button-prev {
  font-family: swiper-icons;
  position:absolute!important;
  left: 20%!important;
  top: 90%!important;
  color: orange;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  padding-top:4px;
  line-height: 1;
}
.swiper-button-next{
  font-family: swiper-icons;
  position:absolute!important;
  left: 25%!important;
  top: 90%!important;
  color: orange;
  padding-top:4px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  color: orange;

}
